[package]
name = "evalica"
version = "0.1.1"
edition = "2021"
description = "Evalica, your favourite evaluation toolkit."
repository = "https://github.com/dustalov/evalica"
license = "Apache-2.0"
exclude = ["*.csv", "*.ipynb", "*.svg", ".github", ".gitignore"]
publish = []

[lib]
name = "evalica"
crate-type = ["cdylib"]

[dependencies]
approx = "^0.5.1"
ndarray = "^0.15.6"
num-traits = "^0.2.19"
pyo3 = { version = "^0.21.1", features = ["extension-module", "abi3-py38"], optional = true }
numpy = { version = "^0.21.0", optional = true }

[features]
python = ["dep:pyo3", "dep:numpy"]
