[package]
name = "evalica"
version = "0.4.0"
edition = "2021"
description = "Evalica, your favourite evaluation toolkit."
repository = "https://github.com/dustalov/evalica"
license = "Apache-2.0"
exclude = ["*.csv", "*.ipynb", "*.svg", ".github", ".gitignore", "coling2025"]
publish = []

[lib]
name = "evalica"
crate-type = ["cdylib"]

[dependencies]
approx = "^0.5.1"
ndarray = "^0.17.1"
num-traits = "^0.2.19"
pyo3 = { version = "^0.27.0", features = ["abi3-py38"], optional = true }
numpy = { git = "https://github.com/PyO3/rust-numpy.git", rev = "78d5e8d2aec80f0a3568c471bc69976642b129c4", optional = true }

[features]
python = ["dep:pyo3", "dep:numpy"]
